html {
    cursor: none;
    height: 100vh;
    overflow: hidden;
}

body {
    color:#0090d8;
    background-color:#c1eaff;
    font-family: 'PicNic';
    margin: 0;
    padding: 0;
}

.pointer {
    position: absolute;
    top: 50%;
    left: 50%;   
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

/*
.pointer img {
    width: 140px;
}*/


@font-face {
    font-family: 'Pitch Regular';
    src:    url('./fonts/pitchcollection/pitch/regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pitch Medium';
    src:    url('./fonts/pitchcollection/pitch/medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pitch Bold';
    src:    url('./fonts/pitchcollection/pitch/bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PicNic';
    src:    url('./fonts/picnic/regular.woff') format('woff'),
            url('./fonts/picnic/regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Untitled Sans Bold';
    src:    url('./assets/fonts/untitled-sans-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Untitled Sans Black';
    src:    url('./assets/fonts/untitled-sans-black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'PicNic';
    font-size: 8rem;
    text-align: center;
    margin: .5rem;
}

.disc-link {
    font-family: 'Untitled Sans Black';
    font-size: 5rem;
    text-align: center;
}

.disc-content a {
    color: white;
    text-decoration: none;
}

.disc-link a:hover {
    color:red;
}

.disc-link a:active {
    color:red;
}

.insert-disc-here {
    position: absolute;
    top: 32vh;
    left: 52vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: .5rem;
}

.insert {
    font-family: 'Untitled Sans Black';
    font-size: 7rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: .5rem;
}


.HERE {
    font-family: 'Untitled Sans Black';
    font-size: 7.2rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: .5rem;
}


.disc{
    width: 40rem;
    height: 7rem;
    overflow: hidden;
    background: #0090d8;
    border-radius: 50%;
  }
  .disc:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
  .disc-content{
    font-family: 'Untitled Sans Black';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    padding: 25px;
    font-size: 6rem;
  }
  .disc-content div {
   display: table;
   width: 100%;
   height: 100%;
  }
  .disc-content a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
  }
  
